@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Lora&family=Sedgwick+Ave&display=swap');

body {
    background-color: white;
    font-family: Kanit, Verdana, sans-serif;
}
/* a . is used to target a class, a # is used to target an id */
#content {
    max-width: 1600px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 2em;
    text-align: center;
    margin: 50px;
}

img {
    width: 40%;
    display: block;
    margin: 80px auto;
    padding: 40px;
    border: 3px solid lightblue;
    box-sizing: border-box;
}

p {
    width: 50%;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
}

#primary {
    background-color: white;
}

a{
    background-color: lightblue;
    color: rgb(71, 68, 69);
    text-decoration: none;
    padding: 10px;
    margin: 5px;
}

a:hover {
    background-color: darkgray;
    color: white
}

/* Main */

.background {
    background-color: lightgreen;
}

footer {
    background-color: lightblue;
    color: rgb(71, 68, 69);
}

footer p{
    text-align: center;
}